.profile__profession{
  width: 336px;
  margin: 16px 0px 0px 0px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: white;
}
 
@media screen and (max-width: 930px){
  .profile__profession{
    max-width: 282px;
    width: 100%;
    text-align: center;
    margin: 14px auto 36px;
  }
}
