.profile__button-plus{
    width: 150px;
    height: 50px;
    background-color: black;
    border: 2px solid white;
    box-sizing: border-box;
    margin: 20px 0px 0px 0px;
    background-image: url(../../../image/Add_Button.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.profile__button-plus:hover{
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 680px){
    .profile__button-plus {
        margin: 36px auto 36px auto;
        width: 282px;
    }
}

    