.profile__title{
    max-width: 295px;
    font-size: 42px;
    line-height: 114%;
    font-style: normal;
    color: white;
    margin: 0px;
    font-weight: 500;
    align-items: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
  
@media screen and (max-width: 480px){
  .profile__title{
      font-size: 27px;
      line-height: 38px;
  }
}