.profile__name{
  max-width: 295px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 114%;
  color: white;
  margin: 62px 18px 0px 0px;
}

@media screen and (max-width: 930px){
  .profile__name{
    font-size: 27px;
    line-height: 38px;
    max-width: 201px;
    width: 100%;
    margin: 11px 0px 0px 29px;
    text-align: center;
  }
}
