.elements__like{
    width: 20.76px;
    height: 18.13px;
    background-image: url(../../../image/Like.svg);
    background-size: cover;
    border: none;
    background-color: white;
    align-self: center;
    margin-left: 10px;
    margin-right: 20px;
    flex-shrink: 0;
    object-fit: cover;
}

.elements__like:hover{
    opacity: 0.5;
    cursor: pointer;
}

.elements__like:active{
    background-color: black;
}